body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(219, 219, 219);
}
.form-continer{
    background-color:white;
    border: 1px solid gray;
    width: 400px;
    height: 450px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50% );
    border-radius:30px;
    

}
.sign-up-form{
    position: absolute;
    text-align: right;
    margin: 5px;
    color:gray;
    left: 46.5%;
    top: 20px;
    transform: translate(-46.5% );
    font-weight:bold;
    
}
.input{
    border-radius:3px;
    margin-top:5px;
    margin-bottom:5px;
    text-align: right;
    width: 350px;
    height: 30px;
    border: 1px solid gray;
    
    

}
.sign-up{
    top:50px;
    color:rgb(0, 110, 255);
    left: 50%;
    position: absolute;
    transform:translate(-50%);
    display:block;
    
}
.submit{
    position:absolute;
    left: 50%;
    transform:translate(-50%);
    padding: 15px 60px;
    background-color: seagreen;
    color: white;
    top: 340px;
    border-radius: 5px;
    border: none;

}